<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js" ></script>	
</head>
<body>
	
	<div id="Try"></div>

	<script type="text/javascript">
	var height = 500px;
	var width = 500px;
	var data = [40,50,60];
		var canvas = d3.select('#try').append('svg')
						 .attr('height', height);
						 .attr('width', width);

		canvas.selectAll("rect")
                        .data(data)
                        .enter()
                        .append('rect')
                        .attr('width', function(d){
                        	return d * 10;
                        })
                        .attr('height', 20)
                        .attr('fill', 'none')
                        .attr('y', function(d, i){
                        	return i * 50;
                        });		 
	</script>
</body>