	<head>
		<link rel="stylesheet" type="text/css" href="./css/teams.css">
	</head>


	<div ng-include="'./views/nav.html'"></div>


	<h1 style="text-align: center; font-family: 'Nato'">U.S. Citizenship Honor Dinner </h1>
	<p>Have you ever been to a Naturalization Ceremony and seen the joy and pride on the faces of people from myriad countries as they become U.S. citizens? It’s beautiful! It’s also wonderful that most feel it important to register to vote and participate in our representative democracy!</p>

	<p>Having observed several such ceremonies, along with other QCAIR folks, I realized that WE are honored that these folks chose US! Many have come great distances and worked hard to learn the language here and adjust to the customs, while they all probably know more about American and our government than many who were born here.
	</p>

	<p>These are among the reasons QCAIR is spearheading what we hope to be an ongoing effort to celebrate the diverse contributions refugees and immigrants bring to America. Too few in this country understand the great contributions we enjoy in embracing diversity here.
</p>
<hr>

<p>Immigrants and Refugees who have chosen to become US Citizens are to be celebrated. Too often, immigrants and refugees are reviled and treated cruelly. Each brings his or her unique culture to our country. They don’t take away from us but add to our culture and to their own culture.</p>

<p>Leading up to the first dinner, it is expected that the Quad City Times will be printing stories of local contributors from diverse cultures to our community. We hope to have a distinguished Keynote Speaker and to give a special honor award to him/her.</p>

<p>Details are still being arranged, but we are looking at the dinner being hosted by the Muslim Community of the Quad Cities around September 17th. 
While the dinner will be free to our sixty immigrant and refugee friends and their “plus-one’s”, along with eighty attendees from the larger community, we will gladly accept donations to help cover costs for this and future dinners.</p>

<p>A special RSVP web link will be provided when the date and time are set, and included will be a link and further information on making supportive contributions.
If you can help in creating success for this effort, please contact the QCAIR office or email qcair@qcair.org, with the subject line reading Honors Dinner
</p>


<hr>
	<div ng-include="'./views/mainFoot.html'"></div>