<body>
<div class="container">
	<div ng-include="'./views/nav.html'"></div>
	<div class="col col-md-offset-4">
		<h2 style="font-family: 'arvo';">Meet The QCAIR Team</h>
	</div>
	<hr class="featurette-divider">
	<div class="row">
		<div class="col col-md-offset-1 col-md-2">
			<img  style="height: 500px; width: 400px; border-radius: 4px;" 
			src="./css/pics/qcAirPresident.jpg">
			<p style="margin-top: 10px;"><b>Grant Curtis</b>,<br> QCAIR President</p>
		</div>
		<div class="col col-md-offset-3 col-md-5">
		<h3 style="font-family: 'Lora';">The Organization  <hr class="featurette-divider"></h3>
			<p class="sub-header-text" style="margin-top: 20px;">Here at QCAIR we are all about empowerment. QCAIR focuses the energy of its Board of Directors and other committed individuals into the work of Action Teams. The Action Teams implement issues identified by the Board of Directors. The first seven grassroots Action Teams are  the foundation of who we are.
			QCAIR is a membership-based organization that arose from a series of public dialogues in Rock Island, Illinois during 2010 and 2011. The first meeting of the QCAIR Board of Directors was held February 23, 2012 with 29 member organizations representing 5 communities in both Illinois and Iowa. The founding members included 8 new ethnic community-based organizations. 
			 </p>
			
			 <h3 style="font-family:'Lora' ;">The Teams</h3>
			  <hr class="featurette-divider">
			 <p class="sub-header-text" >We have two main teams here at QCAIR: developement and education. Within our Teams we have subteams, each of these subteams is led by an administrator. Each team has a single role that they invest in. This ensures that each person that steps through our door gets the best quality service we can offer. Within the organization we have the President, Executive Director, Treasurer and Administrators. </p>
		</div>

	</div>
	<hr class="featurette-divider">
	<div class="row">
		<div class="col col-md-6" style="margin-top: 50px;">
	<p><b>Bob Babcock -</b> Bob has been an activist for more than 30 years, while working on social issues since the early 1970’s. He’s served on speakers’ bureaus and been interviewed on television, radio and in the print media. Educated in the field of psychology and counseling, his first career was in human services helping people recover from addictions, eventually forming a non-profit agency working with ex-offenders.
Improving the quality of life in our society has been a passion of his for decades as he’s worked on poverty issues, substance abuse, incarceration, environmental sustainability, and more recently to support the diversity American enjoys as part of its strength in the rich fabric of our culture.
The Board of Directors of the Quad Cities Alliance for Immigrants and Refugees is one of many he’s served on over the years. Others are as diverse as barbershop harmony, gun safety, substance abuse treatment, ethical religion and fundraising for non-profits.</p>
	</div>
	<div class="col col-md-4">
	<img src="css/pics/bob.png" alt="Bob's Pic">
	</div>
</div>
	<hr>
	<div class="col col-md-offset-5" style="margin-bottom: 25px;">
		<h3 style="font-family:'arvo' ;">Our Sub Teams</h3>
	</div>
	<div class="col col-md-offset-2" style="color: black;">
		
		<p class="sub-space"><a href="#/pip" style="color: black;">Positive Interaction With Police</a></p> 
		<p class="sub-space"><a href="#/hd"  style="color: black;">Honors Dinner</a></p> 
		<p class="sub-space"><a href="#/rg"  style="color:black;">Rise Up Garden</a></p> 
		<p class="sub-space"><a href='#/jobs'style="color: black;">Employment</a></p>
		
	
	</div>

	<hr class="featurette-divider">
		<div class="col col-md-offset-4"><h2 style="font-family:'arvo' ;">This Is Where You Come In</h2></div>
		
		<div>
		<p class="sub-header-text">We are always looking for volunteers. Our organization wouldn't function without people just like you. We are very proud of our Volunteers and would love for you to join the family. Along with experiencing the many different cultures that walk through our doors, you will also have the opportunity to serve many people in need. If you are a college student, this is an excellent organization to build your resume. Simply click on the <a href="#/contact">contact</a> tab within the navigation bar to fill out a form and get started.</p>
		</div>
		<div class="row">
		<div class="col col-md-6">
			<img src="./css/pics/qcAirPic2.jpg" style="height: 320px; width: 500px; border-radius: 4px;">
		</div>
			<div class="col col-md-6">
			<img src="./css/pics/qcAirPic4.jpg" style="height: 320px; width: 400px; border-radius: 4px;">
		</div>
		</div>
		<hr class="featurette-divider">
	<div ng-include="'./views/mainFoot.html'"></div>
</div>	
</body>