
	<div ng-include="'./views/nav.html'"></div>
		
		<h2 style="font-family: 'arvo';">Mission of Quad Cities Alliance for Immigrants & Refugees:</h2>
		<hr class="featurette-divider">

		<div class="row">
		<div class="col col-md-6">
		<h1 style="font-family: 'Lora';">We Give 100% Period.</h1>
		<hr class="featurette-divider">
		<p style="margin-top: 20px; font-family: 'Noto Sans';">Quad Cities Alliance for Immigrants & Refugees (QCAIR) is a not-for-profit organization that helps local immigrants and refugees with everything from acquiring citizenship to finding a job.  QCAIR was founded in 2012 to help refugees and immigrants with issues they face every day as they try to adjust to an unfamiliar culture.</p>
		<p><b>Our Mission:</b>  We assist immigrants and refugees in integrating into the Quad City community by advocating for immigrants and refugees and collaborating with appropriate service providers.
</p>
		
		<p><b>Our Vision:</b>  Every immigrant and refugee will integrate in the Quad City community successfully.</p>
		
		<p><b>Our Core Values:</b> Quality, Collaboration, Integration, Advocacy, Respect</p>
		</div>
		
		<div><img src="./css/pics/qcmeet.jpg"></div>
		</div>

		<hr class="featurette-divider">
		<div class="row">
			<div class="col col-md-6">
				<h2 class="sub-header">Quality</h2>
				<p class="sub-header-text">Choosing the best people and procedures for the growth and sustainability of our organization and the people we serve. Always having people centered culture.</p>
				<h2 class="sub-header">Collaboration</h2>
				<p class="sub-header-text">Collaborating with local and non-local agencies and donors to improve the lives of immigrants and refugees in the Quad Cities.</p>
				<h2 class="sub-header">Integration</h2>
				<p class="sub-header-text">Educating immigrants and refugees on how to blend both cultures by exposing them to new ideas and experiences in their new home without letting go of their own beliefs.</p>
			</div>
			<div class="col col-md-6">
				<h2 class="sub-header">Advocacy</h2>
				<p class="sub-header-text">Being a voice for immigrants and refugees in order to navigate and overcome social and cultural barriers. Believing in every person, desiring to see their best come to fruition.
</p>
				<h2 class="sub-header">Respect</h2>
				<p class="sub-header-text">Honoring every individual we come in contact with regardless of background, ethnicity, culture, nationality, status, color or belief. In this way we promote unity and diversity.
</p>
			</div>
		</div>
			<hr class="featurette-divider">
	<div ng-include="'./views/mainFoot.html'"></div>
