<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
	</script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic|Noto+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="nav">
<ul style="margin-top: 20px; margin-left: 20px; border-bottom-style:solid; border-bottom-width: 0.1px; ">
	<li><a href="#/" >Home</a></li>
	<li><a href="#/meetus"  style="color: black; font-family: 'Noto Sans';">Meet The Team</a></li>
	<li ><a style="color: black; font-family: 'Noto Sans';" onclick="runBrain()" href="#/volunteer">Donate</a></li>
	<li><a href="#/mission" style="color: black; font-family: 'Noto Sans';">Mission</a></li>
	<li><a href="#/progress" style="color: black; font-family: 'Noto Sans'; " >What We've Done</a></li>
	<li><a style="color: black; font-family: 'Noto Sans';" href="#/contact" >Contact</a></li>



</ul>
</div>
</body>
</html>