<head>
		<link rel="stylesheet" type="text/css" href="./css/teams.css">
	</head>


	<div ng-include="'./views/nav.html'"></div>
	<img style="margin-left: 30px; margin-top: 40px;margin-bottom: 40px;" src="./css/pics/qcAirBigPic.png" class="img-responsive">
	<hr>
	<h1 style="text-align: center; font-family: 'Nato';">The Raised Garden Project </h1>

	<p>QCAIR is working, on a pilot project, with other local agencies (see the list of agencies at the end of the page) to provide a structured learning environment for immigrant and refugee youth that are in the juvenile corrections systems in Rock Island County. This program has been structured to formally run for 10 weeks beginning June 10th and ending on August 19th. Each community group brings something special to the project. QCAIR is working to identify successful adult immigrants and refugees to match to each youth in the program, providing. The adults will provide mentor, who will be a sounding board and offer advice based upon their own experiences. Below are the details of the project.</p>
	<br>
	<b>PROGRAM DESCRIPTION</b>
	<br>
	<p>Components of the RISE UP Garden Project (Rock Island Services for Empowerment, Unity and Progress) include community planting days, an urban gardening / agriculture employment program and life skills classes.  Produce harvested from the RISE UP Garden Project will be donated to Cafe on Vine, a local meal site that feeds on average 110 people/day 365 days/year, as well as other meal sites as needed.  Participants will develop an understanding of how positive actions can result in providing a product for the larger community, as well as, help others in need.</p>
	<br>
	<b>GUIDING PRINCIPLES</b>
	
	<p>Held in safe environment that builds on healthy relationships.  Addresses needs across personal, family, vocational and community areas.  Identifies strengths and develops healthy problem solving skills.  Develops social networks and access to community services.  Delivered through interactive and hands-on activities at gardening sites and in the classroom setting.</p>
	<br>
	<b>PROGRAM COMPONENTS</b>
	<p>The Juvenile Court system in Rock Island County has seen an influx youth becoming involved in delinquent behaviors and family court issues over the past several years.  At-risk youth can have unique needs (i.e. language barriers, cultural differences, lack of connection to community, disconnect from family and lack of employable skills) when they enter the system.  Several community agencies, faith-based organizations and court personnel have developed a program that recognizes the specific needs of this population and provides an opportunity for these youth to develop positive connections with community resources, healthy interpersonal skills, enhanced educational skills and viable employment skills.
</p>
	<b>DESIRED OUTCOMES</b>
	<p>Participants will have increased sense of dignity, usable employment skills, increased understanding of community resources, healthier community connections and improvement in existing relationships.</p>
<hr>
	<b>PROGRAM OVERVIEW</b>
	<div class="row">
	<ul>
		<li>Community volunteer “Planting Days” in May and early June</li>
		<li>10 week summer urban gardening program with life skills classes from mid-June through mid-August
</li>
<li>Garden plots in Rock Island, IL</li>
<li>Monday through Friday 10:00am to Noon (Summer Hours)
</li>
<li>Monday through Friday 4:00pm to 6:00pm (School Hours)</li>
<li>Stipend for daily attendance</li>
<li>Monday through Thursday:  supervised gardening on site at plots</li>
<li>Friday:  life skills class held at Broadway Presbyterian Church with presentations by community agencies
</li>
<li>Meal served after each day
</li>
<li>Produce donated to Café on Vine homeless meal site and other meal sites if neede</li>
<li>Flowers donated to local churches/nursing homes</li>
	</ul>
<div>
<hr>
	<b>LIFE SKILLS CLASSES</b>
	<br>
	<br>
	<p>Life skills classes will be presented on a variety of topics to include:  money management, budgeting, understanding of the debit and credit  systems, communication skills, safe dating, building healthy relationships, conflict resolution, anger management, healthy living, healthy eating habits, food preparation and proper handling, career preparation, resume writing, job coaching, using of public resources, networking with community agencies and volunteerism.  The participants will also tour a local college and local meal site.</p>
	<hr>
	<h3 style="text-align: center; font-style: bold; font-family: 'Nato';">COMMUNITY PARTNERS</h3>
	<div class="row">
		<div class="col col-md-6">
			<ul>
				<li>Broadway Presbyterian Church</li>
				<li>QC Area Children’s Feeding Program </li>
				<li>World Relief</li>
				<li>Café on Vine</li>
				<li>Valley Construction </li>
				<li>Transitions Mental Health Center</li>
				<li>City of Rock Island </li>
				<li>Center for Youth &amp; Family Solutions </li>
				<li>Augustana College</li>
				<li>Green Path Debt Solutions</li>
				<li>Church Youth Groups </li>
				<li>Youth Service Bureau</li>
				<li>Urban Gardeners </li>
				<li>Healthy Urban Farms </li>
			</ul>
		</div>
		<div class="col col-md-6">
			<ul>
				<li>Rock Island County Juvenile Court Services</li>
				<li> Doris &amp; Victor Day Foundation</li>
				<li>Fisher of Men Ministries</li>
				<li>QC Interfaith</li>
				<li>Quad City Health Initiative</li>
				<li> Rock Island Police Department</li>
				<li>Bethany for Children &amp; Families</li>
				<li>Community Health Care</li>
				<li>Rockridge High School FFA Club</li>
				<li>QCAIR / PIP Action Group	</li>
				<li> Community Volunteers</li>
				<li>Department of Children &amp; Family Services Rock Island </li>
				<li>Regional Office of Education</li>
				<li> Metrolink	</li>
			</ul>
		</div>
	</div>

	<hr>
	<div ng-include="'./views/mainFoot.html'"></div>